[package]
name = "auth-server"
version = "0.1.0"
edition = "2021"

[dependencies]
# === HTTP Server === #
clap = { version = "4.0", features = ["derive", "env"] }
http = "0.2"
hyper = { version = "0.14", features = ["full"] }
ratelimit = "0.10"
reqwest = { version = "0.11", features = ["json", "stream"] }
tokio = { version = "1", features = ["full"] }
warp = "0.3"
tokio-tungstenite = { version = "0.26", features = ["native-tls"] }

# === Database === #
bb8 = "0.8"
diesel = { version = "2", features = ["postgres", "chrono", "uuid"] }
diesel-async = { version = "0.4", features = ["postgres", "bb8"] }
tokio-postgres = "0.7"
postgres-native-tls = "0.5"
native-tls = "0.2"

# === Cryptography === #
aes-gcm = "0.10.1"
alloy-sol-types = "=0.7.7"
alloy-primitives = { version = "=0.7.7", features = ["serde", "k256"] }
ethers = "2"
rand = "0.8.5"

# === Renegade Dependencies === #
auth-server-api = { path = "../auth-server-api" }
contracts-common = { workspace = true }
renegade-arbitrum-client = { workspace = true }
renegade-circuit-types = { workspace = true }
renegade-common = { workspace = true }
renegade-constants = { workspace = true }
renegade-config = { workspace = true }
renegade-crypto = { workspace = true }
renegade-util = { workspace = true }
renegade-api = { workspace = true }
renegade-system-clock = { workspace = true }

# === Misc Dependencies === #
base64 = "0.22.1"
bigdecimal = "0.4"
bytes = "1.0"
cached = "0.53"
chrono = { version = "0.4", features = ["serde"] }
futures-util = "0.3"
metrics = "=0.22.3"
atomic_float = "1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_urlencoded = "0.7"
thiserror = "1.0"
tracing = "0.1"
uuid = { version = "1.0", features = ["serde", "v4"] }
