services:
  anvil:
    image: anvil
    build:
      context: anvil
      dockerfile: Dockerfile
    ports:
      - "8545:8545"

  indexer:
    build:
      context: ../../../
      dockerfile: indexer/darkpool-indexer/integration/Dockerfile
      additional_contexts:
        anvil: "service:anvil"
    command: >
      cargo test -p darkpool-indexer --test integration --features "integration" --
        --deployments /deployments.json
        --anvil-ws-url ws://anvil:8545
    tty: true
    depends_on:
      - anvil
