on: push

name: Clippy Check

jobs:
  clippy-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [
          "auth-server-api",
          "compliance-server",
          "compliance-api",
          "renegade-dealer",
          "renegade-dealer-api",
          "funds-manager-api",
          "funds-manager",
          "price-reporter",
          "price-reporter-client",
          #"renegade-solver",
        ]
        features: [""]
        include:
          - package: "auth-server"
            features: "arbitrum"
          - package: "auth-server"
            features: "base"
    steps:
      - uses: actions/checkout@v1
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: rustup component add clippy
      - name: Run clippy on ${{ matrix.package }}
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: >
            -p ${{ matrix.package }}
            ${{ matrix.features != '' && format('--features {0}', matrix.features) || '' }}
            --tests
            --benches
            --
            --no-deps
            -D warnings
            -D unsafe_code
            -D missing_docs
            -D clippy::missing_docs_in_private_items
            -D clippy::needless_pass_by_value
            -D clippy::needless_pass_by_ref_mut
            -D clippy::unused_async
