on: push

name: Cargo Test

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [
          "auth-server-api",
          "compliance-server",
          "compliance-api",
          "renegade-dealer",
          "renegade-dealer-api",
          "funds-manager-api",
          "funds-manager",
          "price-reporter",
          "price-reporter-client",
          #"renegade-solver",
        ]
        features: [""]
        include:
          - package: "auth-server"
            features: "arbitrum"
          - package: "auth-server"
            features: "base"
    steps:
    - uses: actions/checkout@v3
    - name: Install Protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build ${{ matrix.package }}
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: >
          --package ${{ matrix.package }}
          ${{ matrix.features != '' && format('--features {0}', matrix.features) || '' }}
    - name: Test ${{ matrix.package }}
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: >
          --package ${{ matrix.package }}
          ${{ matrix.features != '' && format('--features {0}', matrix.features) || '' }}
          --verbose -- --skip integration
