on: push

name: Cargo Test

env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package: [
          "auth-server",
          "auth-server-api",
          "compliance-server",
          "compliance-api",
          "renegade-dealer",
          "renegade-dealer-api",
          "funds-manager-api",
          "funds-manager",
          "price-reporter",
          "price-reporter-client",
          #"renegade-solver",
        ]
        features: ["arbitrum", "base"]
    steps:
    - uses: actions/checkout@v3
    - name: Install Protoc
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build ${{ matrix.package }} (features=${{ matrix.features }})
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --package ${{ matrix.package }} --features ${{ matrix.features }}
    - name: Test ${{ matrix.package }} (features=${{ matrix.features }})
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --package ${{ matrix.package }} --features ${{ matrix.features }} --verbose -- --skip integration
